@use "../index" as select-replace;
@use "@ryze-digital/scss-utilities";

@include scss-utilities.global-styles();

body {
    font: {
        family: system-ui, sans-serif;
    }
    display: flex;
    align: {
        items: center;
    }
    justify: {
        content: center;
    }
    min: {
        height: 100vh;
    }
}

.wrapper {
    width: 60vh;
    max: {
        width: 100%;
    }
    padding: {
        inline: 1rem;
    }
}

label {
    display: block;
    font: {
        weight: bold;
    }
    margin: {
        block: {
            end: 0.5em;
        }
    }
}

:is(select, .select-replace) {
    display: block;
    width: 100%;
    border: {
        width: 2px;
        style: solid;
        color: lightgray;
        radius: 10px;
    }
    padding: {
        inline: 1em;
        block: 0.5em;
    }
}

select {
    &.visually-hidden {
        @include scss-utilities.visually-hidden();
    }
}

.select-replace {
    @include select-replace.fake-select();
    &.has-focus {
        outline: {
            width: 2px;
            style: solid;
            color: lightcoral;
            offset: 2px;
        }
    }
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.option-list {
    @include select-replace.option-list();
    background: {
        color: white;
    }
    border: {
        width: 2px;
        style: solid;
        color: lightgray;
        radius: 10px;
    }
    margin: {
        block: {
            start: 0.5rem;
        }
    }
    padding: 0.2em;
    .option-list-search {
        position: sticky;
        top: 0;
        z-index: 1;
        background: {
            color: white;
        }
        width: 100%;
        border: {
            width: 1px;
            style: solid;
            color: lightgray;
            radius: 0.5rem;
        }
        margin: {
            block: {
                end: 0.4rem;
            }
        }
        padding: {
            inline: 0.6rem;
            block: 0.3rem;
        }
    }
    .option-list-empty {
        color: lightgray;
        padding: {
            inline: 0.8em;
            block: 0.5em;
        }
    }
    .option-list-group {
        &:not(:first-child) {
            margin: {
                block: {
                    start: 0.5em;
                }
            }
        }
        .label {
            font: {
                weight: bold;
                size: 0.85em;
            }
            color: lightgray;
            text: {
                transform: uppercase;
            }
            padding: {
                inline: 0.8em;
                block: 0.4em 0.2em;
            }
            cursor: default;
        }
        &.disabled {
            .option-list-group-label {
                opacity: 0.5;
            }
        }
    }
    [role='option'] {
        cursor: pointer;
        padding: {
            inline: 0.8em;
            block: 0.3em;
        }
        &:nth-child(even) {
            background: {
                color: #fafafa;
            }
        }
    }
    [aria-selected='true'] {
        font: {
            weight: bold;
        }
    }
    .disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

#custom-container {
    position: relative;
    background: {
        color: #fafafa;
    }
    padding: 2rem;
    border: {
        color: lightgray;
        width: 1px;
        style: solid;
        radius: 1rem;
    }
}

.button-bar {
    grid-column: span 2;
    display: flex;
    justify: {
        content: center;
    }
    gap: 0.5rem;
    margin: {
        block: {
            start: 2rem;
        }
    }
    button {
        font: {
            family: inherit;
        }
        border: {
            width: 2px;
            style: solid;
            radius: 1000px;
        }
        padding: {
            block: 0.5rem;
            inline: 1.5rem;
        }
    }
}

.form-grid {
    display: grid;
    gap: 1rem;
    grid: {
        template: {
            columns: repeat(auto-fit, minmax(8rem, 1fr));
        }
    }
}